@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
    --color-brand-500: #FF5F00;
    --color-brand-400: #FF833A;
    --color-brand-50: #FFE1CF;
    --color-primary-text: #31393C;
    --color-secondary-text: #B4B4B4;
    --color-modal: #B1B1B1;
}